.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.top {
    padding: 0 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.top h1 {
    color: #2B274B;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.44px;
}

.top strong {
    color: #907FDF;
    font-weight: 700;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item {
    padding: 12px 24px;
    border-radius: 36px;
    border: 1px solid rgba(58, 58, 96, 0.10);
}

.item p {
    color: #2B274B;
    opacity: 0.5;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
}

.active {
    background: #524B9B;
    border: 1px solid #524B9B;
}

.active p {
    color: #FAFAFF;
    opacity: 1;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: 28px;
    padding: 0 30px;
}

.project {
    padding: 28px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 2px solid rgba(58, 58, 96, 0.10);
    gap: 28px;
}

.project img {
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title h1 {
    color: #3A3A60;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
}

.title p {
    color: #3A3A60;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -0.48px;
    opacity: 0.8;
}

.awards {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.awards {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.award {
    color: #3A3A60;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
    opacity: 0.5;
    align-items: center;
    display: flex;
    gap: 6px;
}