@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
@import "tailwindcss";

@config "../../tailwind.config.ts";

* {
  font-family: "SUIT", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--luna-white);
  color: var(--luna-black);
}

:root {
  --luna-bright: #907fdf;
  --luna-purple: #524b9b;
  --luna-dark: #3a3a60;
  --luna-dark-10: #3a3a601a;
  --luna-black: #2b274b;
  --luna-white: #fafaff;
  --luna-white-50: #fafaff80;
}

strong {
  font-weight: 700;
  font-style: normal;
}

@keyframes bounce {
  0% {
    transform: translate(0, -10px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
